.navigation {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    background-color: rgb(65, 65, 107);
    padding: 0vw 2vw;
    z-index: 2;
}

.lca-logo {
    border-color: black;
    border-width: .1em;
    border-style: solid;
    height: 5em;
    width: 20em;
}

.navbar-item {
    color: white;
    font-size: 1.5em;
}

.navbar-burger, .navbar-burger.is-active {
    color: white;
}

@media screen and (max-width: 500px) {
    .lca-logo {
        height: 2em;
        width: 10em;
    }
    .navbar-item {
        color: black;
        font-size: 1em;
    }
}
    /* 
    - make the nav buttons wrap around title for 
      small screens 
    - make styles for min (and medium?) size screens
    - bring all the way to the top
    */