<nav class="navigation navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/">
      <img src="../../assets/images/lca-logo.jpeg" alt="logo" class="lca-logo navbar-brand" />
    </a>
    <a role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample" (click)="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-end" (click)="toggleMenu()">
      <a
        class="navbar-item"
        routerLink="/"
        [ngClass]="{ 'currentTabStyle' : currentTab('/')}"
        >
        Home
      </a>
      <a
        class="navbar-item"
        routerLink="/princeton"
        [ngClass]="{ 'currentTabStyle' : currentTab('/princeton')}"
      >
        Princeton
      </a>
      <a
        class="navbar-item"
        routerLink="/maintenance"
        [ngClass]="{ 'currentTabStyle' : currentTab('/maintenance')}"
        >
        Maintenance
      </a>
      <a
        class="navbar-item"
        routerLink="/contacts"
        [ngClass]="{ 'currentTabStyle' : currentTab('/contacts')}"
        >
        Contact
      </a>
    </div>
  </div>
</nav>
