<p-card>
  <div class="vision-container">
    <h1>Vision</h1>
    <p class="vision">
      Founded in 2005, LCA Residential Properties strives to provide high quality, safe, affordable housing for professionals,
      retirees, and families in the Chicagoland area.
    </p>
  </div>
  <div class="parallax1"></div>
  <h1>Princeton Apartments</h1>
  <p>7255-7257 S Princeton Ave, Chicago IL 60621</p>
  <p>248-250 W 73rd St, Chicago, IL 60621 </p>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4  p-sm-12 availability">
      <h3>Availabilities</h3>
    </div>
    <div class="p-lg-4 p-md-4  p-sm-6 first-availability">
      <p>3 bedrooms, living room,<br />kitchen, bath</p>
      <br/>
      <p>Starting at $925</p>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-6">
      <p>2 bedrooms, living room,<br />kitchen, bath</p>
      <br/>
      <p>Starting at $825</p>
    </div>
  </div>
  <div class="parallax2"></div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4">
      <h3>Community  <i class="fas fa-users"></i></h3>
    </div>
    <div class="p-lg-8 p-md-8">
      Princeton Apartments is locating in the Grand Crossing Community. It is minutes from downtown Chicago via bus and Red Line.
    </div>
  </div>
  <div class="p-grid amenities p-justify-center p-align-center">
    <div class="p-lg-4 p-md-4  p-sm-12 highways">
      <h3>Highways  <i class="fas fa-road"></i></h3>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-6">
      <p>I-94</p>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-6">
      <p>Dan Ryan</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4 p p-sm-12">
      <h3>Bus Stops  <i class="fas fa-bus"></i></h3>
    </div>
    <div class="p-lg-8  p-md-8 p-sm-12">
      <div class="p-grid">
        <div class="p-lg-6 p-md-6 p-sm-6">
          Wentworth & 73rd Street
        </div>
        <div class="p-lg-6 p-md-6 p-sm-6">
          Wentworth & Vincennes
        </div>
        <div class="p-lg-6 p-md-6 p-sm-6">
          Wentworth & 72nd Street
        </div>
        <div class="p-lg-6 p-md-6 p-sm-6">
          Vincennes & 74th Street
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4  p-sm-12">
      <h3>Parks and Fitness  <i class="fas fa-tree"></i></h3>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-6">
      <p>Hamilton Park Pool</p>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-6">
      <p>Memorial Park</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4 p-sm-12">
      <h3>Schools  <i class="fas fa-graduation-cap"></i></h3>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-12">
      <p>Harvard School of Excellence</p>
      <p>7525 S Harvard Ave, Chicago, IL 60620</p>
    </div>
    <div class="p-lg-4 p-md-4 p-sm-12">
      <p>Kids Are US Learning Center</p>
      <p>7453 S Vincennes Ave, Chicago, IL 60621</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4 p-sm-12">
      <h3>Dining, Food, and Grocery  <i class="fas fa-utensils"></i></h3>
    </div>
    <div class="p-lg-8 p-md-8 p-sm-12">
      <div class="p-grid">
        <div class="p-lg-6 p-md-6 p-sm-4">Harolds Chicken Shack</div>
        <div class="p-lg-6 p-md-6 p-sm-4">Shark's Fish & Chicken</div>
        <div class="p-lg-6 p-md-6 p-sm-4">A&J Food Market</div>
        <div class="p-lg-6 p-md-6 p-sm-4">A One Gyros</div>
        <div class="p-lg-6 p-md-6 p-sm-4">Vincennes Food & Liquor</div>
        <div class="p-lg-6 p-md-6 p-sm-4">Triple Jays</div>
        <div class="p-lg-6 p-md-6 p-sm-4">Popeyes Louisiana Kitchen</div>
        <div class="p-lg-6 p-md-6 p-sm-4">Fred and Jack's</div>
        <div class="p-lg-6 p-md-6 p-sm-4">McDonalds</div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-lg-4 p-md-4  p-sm-12 highways">
      <h3>Hospital  <i class="fas fa-hospital"></i></h3>
    </div>
    <div class="p-lg-8 p-md-8  p-sm-12">
      <p>St. Bernards Hospital</p>
    </div>
  </div>
  <h3 style="padding-top: 5vh">Contact us at: LCAllcproperties@gmail.com</h3>
</p-card>
