.parallax1 {
    background-image: url("../../assets/images/chicago-skyline_3.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 4vh 0vw;
    background-size: cover;
}

.parallax2 {
    background-image: url("../../assets/images/princeton/princeton-google-maps-view.jpeg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 4vh 0vw;
    background-size: contain;
}

@media screen and (min-width: 1100px) {
    .parallax1 {

        background-image: url("../../assets/images/chicago-skyline_3.jpg");
        
        /* Full height */
        height: 75vh; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        margin: 4vh 0vw;
    }
    .parallax2 {

        background-image: url("../../assets/images/princeton/princeton-google-maps-view.jpeg");
        
        /* Full height */
        height: 75vh; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        margin: 4vh 0vw;
    }
}

.amenities {
    text-align: center;
    padding: 4vh 0vw;
    margin: 0vh 4vw;
    border-bottom: 1.5px lightgray solid;
}

  .vision-container {
      display: grid;
      justify-items: center;
  }

  .vision {
      width: 75%;
  }

  @media screen and (max-width: 458px) {
    .first-availability {
        border-bottom: 1.5px lightgray solid
      }
    .availability {
        width: 100%;
    }
    .parallax1 {
        height: 25vh;
    }
    .parallax2 {
        height: 30vh;
    }
  }
  @media screen and (max-width: 458px) {
    .highways {
        width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1100px) {
    .parallax1 {
        height: 50vh;
    }
    .parallax2 {
        height: 50vh;
    }
}