<p-card>
  <p>
    LCA Residential Properties was founded in 2005. We strive to provide high quality service to our residents so...
  </p>
  <div>
    <h3>Vision</h3>
    <p>To provid quality, safe, affordable housing for professionals, retirees, and families in the Chicagoland area.
    </p>
  </div>
  <div class="parallax1"></div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4">
      <h3>Community</h3>
    </div>
    <div class="p-col-8">
      Princeton Apartments is locating in Grand Crossing Community. It is minutes from downtown Chicago via bus and Red Line. There
      are various options for food, dining, and recreation.
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4">
      <h3>Highways</h3>
    </div>
    <div class="p-col-4">
      <p>I-94</p>
    </div>
    <div class="p-col-4">
      <p>Dan Ryan</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4">
      <h3>Bus Stops</h3>
    </div>
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">
          Wentworth & 73rd Street
        </div>
        <div class="p-col-6">
          Wentworth & Vincennes
        </div>
        <div class="p-col-6">
          Wentworth & 72nd Street
        </div>
        <div class="p-col-6">
          Vincennes & 74th Street
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4">
      <h3>Parks and Fitness</h3>
    </div>
    <div class="p-col-4">
      <p>Hamilton Park Pool</p>
    </div>
    <div class="p-col-4">
      <p>Memorial Park</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4">
      <h3>Schools</h3>
    </div>
    <div class="p-col-4">
      <p>Harvard School of Excellence</p>
    </div>
    <div class="p-col-4">
      <p>Kids Are US Learning Center</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4">
      <h3>Dining, Food, and Grocery</h3>
    </div>
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">Harolds Chicken Shack</div>
        <div class="p-col-6">Shark's Fish & Chicken</div>
        <div class="p-col-6">A&J Food Market</div>
        <div class="p-col-6">A One Gyros</div>
        <div class="p-col-6">Vincennes Food & Liquor</div>
        <div class="p-col-6">Triple Jays</div>
        <div class="p-col-6">Popeyes Louisiana Kitchen</div>
        <div class="p-col-6">Fred and Jack's</div>
        <div class="p-col-6">McDonalds</div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center amenities">
    <div class="p-col-4"><h3>Hospital</h3></div>
    <div class="p-col-8"><p>St. Bernards Hospital</p></div>
  </div>
  <div class="parallax2"></div>
  <h3 style="display:flex; justify-content:center;">Located at 7257 S Princeton Ave, Chicago IL 60621</h3>
  <div class="p-grid p-justify-center p-align-center amenities">
      <div class="p-col-4">
        <h3>Availabilities</h3>
      </div>
      <div class="p-col-4">
        <p>3 bedroom with living room, kitchen, 1 bath, no formal dining room</p>
        <br/>
        <p>Starting at $925</p>
      </div>
      <div class="p-col-4">
        <p>2 bedrooms with living room, kitchen, 1 bath, no formal dining room</p>
        <br/>
        <p>Starting at $825</p>
      </div>
    </div>
</p-card>

<!-- 
  rename component 
  add chicago skyline
  each property
    - quick bulletpoint summary from zillow
    - pic of outside
    - link to tab with more info
  parallax scroll - just this component

  
-->