<p-card>
<p-header>Mainenance Request</p-header>
<h3>Please fill out the form below to submit a maintenance 
    request and we will try to respond to your issue within 48 hours.
</h3>
<p-card styleClass="form">
    <!-- <p-dropdown
        [options]="properties"
        [(ngModel)]="selectedProperty"
        (onChange)="submitProperty($event.value.name)">
    </p-dropdown> -->
    <input #firstName type="text" pInputText placeholder="First Name" (blur)="submitProperty(firstName.value)"/>
    <input #lastNAme type="text" pInputText placeholder="Last Name"/>
    <input #phoneNumner type="text" pInputText placeholder="Phone Number"/>
    <input #altphoneNumner type="text" pInputText placeholder="Alternate Phone Number"/>
    <input #emailAdress type="text" pInputText placeholder="Email Address"/>
    <input #confirmEmail type="text" pInputText placeholder="Confirm Email Address"/>
    <input #aptNumber type="text" pInputText placeholder="Apartment Number"/>
    <!-- <button>submit</button> make it submit the entire form -->
</p-card>
</p-card>


<!-- 
  location
  - building * (dropdown)
  - apt number
  - description (textinput) * min 5 words

  contact
  first name *
  last name *
  phone number * (radio button for mobile or home)
      -allow texts checkbox?
  alternate phone number 
  email address *
  verify email address
    font sizes em
change submitProperty to validateField and validate the field
-->