.ui-inputtext {
    width: 70%;
}

.select {
    width: 70%;
    margin-bottom: .75rem;
}

.select-box {
    width: 100%;
}

.option {
    width: 70%;
}

.submit-button {
    margin: 1em;
}

.maintenance-header {
    width: 70%;
    padding: 5vh 0vh;
}

.maintenance-container {
    display: grid;
    justify-items: center;
}