.ui-inputtext {
    width: 70%;
}

.select {
    width: 70%;
    margin-bottom: .75rem;
    border: 1px solid #a6a6a6;
}

.select-box {
    width: 100%;
}

.option {
    width: 70%;
}

.submit-button {
    margin: 1em;
}

.maintenance-header {
    width: 70%;
    padding: 5vh 0vh;
}

.maintenance-container {
    display: grid;
    justify-items: center;
}

@media screen and (max-width: 576px) {
    .ui-inputtext {
        width: 80%;
    }
    .option {
        width: 80%;
    }
    .select {
        width: 80%;
    }
}