<p-card>
    <div class="maintenance-container">
        <h1>Maintenance Form</h1>
        <h3 class="maintenance-header">
            Please fill out this form to submit a maintenance request and we will respond to your issue as soon as possible.
        </h3>
    </div>
    <form [formGroup]="maintenanceForm">
        <div class="field">
            <input formControlName="firstName"firstName type="text" pInputText placeholder="First Name" class="input" />
        </div>
        <div class="field">
            <input formControlName="lastName" type="text" pInputText placeholder="Last Name" class="input" />
        </div>
        <div class="field">
            <input formControlName="phoneNumber" type="text" pInputText placeholder="Phone Number" class="input" />
        </div>
        <div class="field">
            <input formControlName="emailAddress" type="text" pInputText placeholder="Email Address" class="input" />
        </div>
        <div class="field">
            <input formControlName="aptNumber" type="text" pInputText placeholder="Apartment Number" class="input" />
        </div>
        <div class="field">
            <input formControlName="maintenanceLocation" type="text" pInputText placeholder="Maintenance Location" class="input" />
        </div>
        <div class="field">
            <textarea formControlName="details" type="text" pInputTextarea placeholder="Details" class="input"></textarea>
        </div>
    </form>
    <p-button type="submit" label="Submit" (onClick)="processForm()" class="submit-button"></p-button>
</p-card>


<!-- 
  location
  - building * (dropdown)
  - apt number
  - description (textinput) * min 5 words

  contact
  first name *
  last name *
  phone number * (radio button for mobile or home)
      -allow texts checkbox?
  alternate phone number 
  email address *
  verify email address
    font sizes em
change submitProperty to validateField and validate the field
-->