.ui-card {
    margin: 15vh 10vw 2vh 10vw;
    padding: 2vw;
    display: grid;
    align-content: center;
    text-align: center;
    justify-items: center;
}

h1 {
    font-size: 30px;
    font: bold;
    margin: 4vh 0vh;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .ui-card {
        margin: 10vh 2vw 2vh 3vw;
    }
}

@media screen and (max-width: 576px) {
    .ui-card {
        margin: 10vh 2vw 2vh 2vw;
    }
}

@media screen and (max-width: 400px) {
    .p-grid {
        align-items: center;
        justify-content: center;
    }
}