.features {
    text-align: center;
    padding: 4vh 0vw;
    margin: 0vh 5vw;
    border-bottom: 1.5px lightgray solid;
}

.first {
    border-top: 1.5px lightgray solid;
    margin-top: 4vh;
}

.ui-panel-images {
    width: 100%;
}

.ui-panel-images img {
    width: 100%;
}

.ui-galleria-panel {
    width: 100%;
}

.ui-galleria-panel-wrapper {
    width: 100%;
}

@media screen and (min-width: 700px) and (max-width: 1024px) and (orientation: portrait) {
    .ui-galleria-panel-wrapper {
        height: 30vh !important;
    }
}

@media screen and (max-width: 700px) and (orientation: portrait) {
    .ui-galleria-panel-wrapper {
        height: 30vh !important;
    }
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    .ui-galleria-panel-wrapper {
        height: 70vh !important;
    }
}

.ui-galleria {
    width: 80%;
    margin: auto;
}

.princeton-header {
    margin-bottom: 8vh;
}

.p-grid {
    align-items: center
}

@media screen and (max-width: 458px) {
    .ui-card-body {
        padding: 0px;
    }
    
    .last-amenity {
        align-self: flex-start;
    }
    .ui-card.ui-widget.ui-widget-content.ui-corner-all {
        display: inline-block;
    }
    .p-grid {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 400px) {
    .princeton-title {
        font-size: 17px;
    }
}