<p-card>
  <h1  class="princeton-header">Living at Princeton Apartments</h1>
  <!-- <div class="gallery"> -->
    <p-galleria [images]="images" [showCaption]="true" [autoPlay]="false" interval="5" panelWidth="auto" [showCaption]="true"></p-galleria>
  <!-- </div> -->
  <div class="p-grid p-justify-center p-align-center features first">
    <div class="p-col-4">
      <h3>Amenities</h3>
    </div>
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">Security camera surveillance</div>
        <div class="p-col-6">Heat included</div>
        <div class="p-col-6">Hardwood floors</div>
        <div class="p-col-6">Front balcony</div>
        <div class="p-col-6">Intercom bell system</div>
        <div class="p-col-6">Heat is included</div>
        <div class="p-col-6">Keyed entry</div>
        <div class="p-col-6">Ample street parking</div>
        <div class="p-col-6">Back porch</div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center features">
    <div class="p-col-4">
      <h3>Living Room</h3>
    </div>
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">Spacious living room area</div>
        <div class="p-col-6">Beautiful artificial fireplace<br />with side shelves</div>
        <div class="p-col-6">Balcony</div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center features">
    <div class="p-col-4">
      <h3>Kitchen</h3>
    </div>
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-6">Walk in pantry </div>
        <div class="p-col-6">Stove and refrigerator provided</div>
      </div>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center features">
    <div class="p-col-4">
      <h3>Bathroom</h3>
    </div>
    <div class="p-col-4">
      <p>Full bathroom</p>
      <p>Vanity</p>
    </div>
    <div class="p-col-4">
      <p>Ceramic tile flooring</p>
      <p>Medicine cabinet</p>
    </div>
  </div>
  <div class="p-grid p-justify-center p-align-center features">
    <div class="p-col-4">
      <h3>Bedroom</h3>
    </div>
    <div class="p-col-4">
      <p>Spacious closet </p>
    </div>
    <div class="p-col-4">
      <p>Cable ready</p>
    </div>
  </div>
  <h3 style="padding-top: 5vh">Contact us at: lcalccproperties@gmail.com</h3>
</p-card>

<!-- 
pannelWidth and pannelHeight to change gallery size. 
Figure out how to conditionally render based on screen size
-->