.features {
    text-align: center;
    padding: 5vh 0vw;
    margin: 0vh 5vw;
    border-bottom: 1.5px lightgray solid;
}

/* .ui-galleria .ui-widget .ui-widget-content .ui-corner-all {
    justify-content: center;
} */

.gallery {
    display: grid;
    justify-content: center;
    padding: 5vh 0vw;
}